*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Josefin Sans', 'Noto Sans TC', sans-serif;
  color: black
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}