.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.wrapper {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
