.productWrapper {
  width: 95%;
  margin: 0 auto;
}

.backBtn {
  margin-bottom: 20px;
}

.backBtn:hover {
  cursor: pointer;
}

.productImage img {
  max-width: 100%;
  max-height: 100%;
}

.quantitySelector {
  margin-left: 20px;
}

#AddToCart {
  margin-top: 20px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  max-width: 15rem;
  max-height: 25rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .productContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 769px) {
  .productContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}